@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 81.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.blue-btn {
  padding: 14px 26px;
  border-radius: 4px;
  background: rgb(51,212,214);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.grey-text { color: rgb(142,142,148); }

header {
  width: 100%;
  position: absolute;
  top: 0;
}

header .wrapper{
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 2%;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  width: 23%;
}

.logo a {
  margin-top: 8px;
  color: rgb(255, 255, 255);
}

.logo::before {
  content: '\e3af';
  float: left;
  font-family: 'FontAwesome';
  background: blue;
  padding: 10px;
  margin: 0 2% 0 0;
}

.bar  {
  display: none;
}

nav{
  width: 47%;
}

.nav-items {
  display: flex;
  margin-left: 13%;
}

.nav-list {
  margin-right: 7%;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: bold;
}

.nav-list span{
  text-transform: uppercase;
}

.nav-list a {
  color: rgb(255, 255, 255);
}

.header-contact {
  width: 24%;
  font-size: 10px;
  text-align: center;
}

.call-icon {
  position: relative;
  padding:0 2% 0 5%;
  color: rgb(255, 255, 255);
}

.call-icon::before  {
  content: '\f095';
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'FontAwesome';
  color: rgb(51,212,214);
  margin-right: 5px;
}

.header-btn {
  color: rgb(51,212,214);
  text-transform: capitalize;
  border: 1px solid rgb(51,212,214);
  border-radius: 3px;
  padding: 14px 9px;
  font-weight: bold;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section start */
.banner {
  padding: 100px 0;
  background:  linear-gradient(rgba(9, 30, 78, 0.6),rgba(9, 30, 78, 0.6)),url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8b2ZpZmljZSUyMG1lZXRpbmd8ZW58MHwwfDB8fA%3D%3D&w=1000&q=80') no-repeat center;
  background-size: cover;
}

.banner-content {
  margin: 85px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-description {
  flex-basis: 40%;
}

.banner-description p {
  margin-bottom: 35px;
  font-size: 51px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.banner-form {
  flex-basis: 32.5%;
  padding: 44px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}

.banner-form h2 {
  font-size: 26px;
  font-weight: 600;
}

.banner-form h2::first-letter { text-transform: uppercase; }
.banner-form  p { margin: 23px 0 37px 0; }
p.price-para { margin: 26px 0 37px 0; }
.input-group select{ width: 100%; }

.input-group select {
  padding: 10px;
  margin-bottom: 10px;
  border:  1px solid rgb(226, 226, 229);
  border-radius: 4px;
  color: grey;
  text-transform: capitalize;
  outline: none;
}

.input-control a { 
  width: 100%;
  margin-bottom: 9px;
  text-align: center;
}
/* banner section end */

/* offers section start */
.offers {
  padding-bottom: 68px;
  margin-bottom: 48px;
}

.section-heading {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 87px 0;
}

.section-heading h3 {
  padding: 18px 0;
  position: relative;
  font-size: 40px;
}

.section-heading h3::before {
  content: '';
  border-radius: 2px;
  position: absolute;
  width: 55px;
  top: 8px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(51,212,214);
  height: 3px;
}

.section-heading p { font-size: 15px; }

.offer-cards {
  margin: 20px 0;
  display: flex;
  gap: 29px;
  flex-wrap: wrap;
}

.offer-list {
  flex-basis: 30%;
  border-radius: 3px;
  background: linear-gradient(180deg,rgb(9,137,249),rgb(5,71,130));
  color: rgb(255, 255, 255);
}

.loan-price {
  border-bottom: 1px solid rgb(51,212,214,0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2;
}

.loan-price img {
  width: auto;
  margin: 43px 0;
}

.loan-price h4 {
  text-transform: capitalize;
  font-size: 14px;
}

.loan-price p {
  margin-bottom: 16px;
  color: rgb(51,212,214);
  font-size: 27px;
}

.loan-details {
  padding: 46px;
}

.loan-items {
  display: flex;
  flex-direction: column;
  line-height: 1.7;
}

.loan-list{
  position: relative;
  font-size: 13px;
}

.loan-list::before {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 36%;
  left: -17px;
  background: rgb(51,212,214);
}

.loan-btn {
  padding: 0 46px 43px 46px;
}

.loan-btn a {
  width: 100%;
  text-align: center;
}
/* offers section end */

/* about section start */
.about-content {
  padding-bottom: 48px;
  display: flex;
  gap: 89px;
}

.about-image {
  flex-basis: 40%;
}

.about-details {
  margin: 36px 0;
  flex-basis: 38%;
}

.about-details h4,.accordion-part h4 {
  padding: 38px 0;
  font-size: 42px;
  text-transform: capitalize;
}

.about-details p {
  line-height: 1.6;
  font-style: 15px;
}

.about-items {
  padding: 14px 20px;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

.about-list {
  position: relative;
  font-weight: 600;
}

.about-list::before {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 36%;
  left: -20px;
  background: rgb(10,140,255);
}

.about-btn {
  padding: 33px 0 0 0;
}
/* about section end */

/* work section start */
.work {
  padding: 1px 0 50px 0;
  background: rgb(245,251,255);
}

.work .wrapper {
  padding-bottom: 34px;
}

.work-items {
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: flex;
  gap: 70px;
}

.work-list {
  flex-basis: 25%;
}

.work-list span {
  padding: 24px;
  display: inline-block;
  border-radius: 50%;
  background: rgb(221,240,255);
  color: rgb(9,137,249);
  font-weight: bold;
}

.work-list h4 {
  padding: 17px 0;
  font-size: 21px;
  font-weight: bold;
}

.work-list h4::first-letter { text-transform: uppercase; }

.work-list p {
  line-height: 1.6;
}

/* work section end */

/* question section start */
.question .wrapper {
  display: flex;
  gap: 77px;
  padding: 0 0 50px 0;
}

.question-image {
  flex-basis: 45%;
}

.accordion-part {
  padding-top: 34px;
  margin-top: 44px;
  flex-basis: 34%;
}

.accordion-items {
  display: flex;
  flex-direction: column;
}

.accordion-list {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid rgb(142,142,148,.2);
}

.accordian-heading {
  display: flex;
  gap: 19px;
}

.accordion-btn a {
  text-indent: -9999px;
  color: rgb(142,142,148);
}

.accordion-btn a::before {
  content: '\f107';
  margin-left: 2%;
  float: left;
  font-family: 'FontAwesome';
  text-indent: 0;
  transition: all .5s ease;
}

.active-accordion .accordion-btn a::before  {
  transform: rotate(180deg);
}

.accordion-list h5 {
  font-weight: bold;
}

.accordion-list h5::first-letter {
  text-transform: uppercase;
}

.accordion-list p {
  padding: 25px 25px 19px 37px;
  font-size: 13px;
  line-height: 1.8;
  display: none;
  transition: all .5s ease;
}

.active-accordion p {
  display: block;
}
/* question section end */

/* slider section start */
.slider .wrapper {
  padding: 35px 0;
  display: flex;
  gap: 30px;
}

.slider-image {
  flex-basis: 20%;
}

.slider-image img {
  border-radius: 50%;
}

.slider-description {
  flex-basis: 70%;
}
/* slider section end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  