@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
*,*::before,*::after   {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 81.5%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.blue-btn {
  padding: 14px 26px;
  border-radius: 4px;
  background: rgb(51, 212, 214);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blue-btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(51, 212, 214);
  -webkit-box-shadow: 1px 2px 8px rgb(192, 192, 196, 0.6);
          box-shadow: 1px 2px 8px rgb(192, 192, 196, 0.6);
}

.grey-text { color: rgb(142, 142, 148); }

header {
  width: 100%;
  position: absolute;
  top: 0;
}

header .wrapper {
  width: 94%;
  padding: 21px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.logo a {
  color: rgb(255, 255, 255);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.logo a::before {
  content: "\e3af";
  padding: 10px;
  border-radius: 50%;
  float: left;
  font-family: "FontAwesome";
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(51, 212, 214)), to(rgb(7, 108, 196)));
  background: -o-linear-gradient(top, rgb(51, 212, 214), rgb(7, 108, 196));
  background: linear-gradient(180deg, rgb(51, 212, 214), rgb(7, 108, 196));
  color: rgb(255, 255, 255);
  font-family: "FontAwesome";
}

/* hamburger start */
.hamburger {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(255,255,255);
  border-radius: 2px;
  position: relative;
  display: none; 
  cursor: pointer;
}

.bar {
  width: 50%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  background-color: rgb(255,255,255);
  text-indent: -99999px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.bar::before,
.bar::after {
  content: "";
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.bar::before { top: -6px; }
.bar::after { top: 6px; }
.active-hamburger .bar { -webkit-transform: translate(-50%,-50%) rotate(45deg); -ms-transform: translate(-50%,-50%) rotate(45deg); transform: translate(-50%,-50%) rotate(45deg); }
.active-hamburger .bar::before { -webkit-transform: translateY(6px) rotate(0); -ms-transform: translateY(6px) rotate(0); transform: translateY(6px) rotate(0); }
.active-hamburger .bar::after { -webkit-transform: translateY(-6px) rotate(-90deg); -ms-transform: translateY(-6px) rotate(-90deg); transform: translateY(-6px) rotate(-90deg); }
/* hamburger end */

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.nav-list {
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;
}

.nav-list span { text-transform: uppercase; }

.nav-list a {
  color: rgb(255, 255, 255);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.nav-list a:hover { color: rgb(51, 212, 214); }

.header-contact {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.call-icon {
  position: relative;
  color: rgb(255, 255, 255);
}

.call-icon::before {
  content: "\f095";
  margin-right: 5px;
  position: absolute;
  top: 0;
  left: -19px;
  font-family: "FontAwesome";
  color: rgb(51, 212, 214);
}

.header-btn {
  padding: 14px 9px;
  border: 1px solid rgb(51, 212, 214);
  border-radius: 3px;
  color: rgb(51, 212, 214);
  text-transform: capitalize;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-btn:hover {
  border-color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  color: rgb(51, 212, 214);
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/* banner section start */
.banner {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 30, 78, 0.6)), to(rgba(9, 30, 78, 0.6))),
    url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8b2ZpZmljZSUyMG1lZXRpbmd8ZW58MHwwfDB8fA%3D%3D&w=1000&q=80")
      no-repeat center;
  background: -o-linear-gradient(rgba(9, 30, 78, 0.6), rgba(9, 30, 78, 0.6)),
    url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8b2ZpZmljZSUyMG1lZXRpbmd8ZW58MHwwfDB8fA%3D%3D&w=1000&q=80")
      no-repeat center;
  background: linear-gradient(rgba(9, 30, 78, 0.6), rgba(9, 30, 78, 0.6)),
    url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8b2ZpZmljZSUyMG1lZXRpbmd8ZW58MHwwfDB8fA%3D%3D&w=1000&q=80")
      no-repeat center;
  background-size: cover;
}

.banner-content {
  margin: 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-description {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
}

.banner-description p {
  margin-bottom: 35px;
  font-size: 58px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.banner-form {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 44px;
  border-radius: 4px;
  flex-basis: 40%;
  background: rgb(255, 255, 255);
}

.banner-form h2 {
  font-size: 26px;
  font-weight: 600;
}

.banner-form h2::first-letter { text-transform: uppercase; }
.banner-form p { margin: 23px 0 37px 0; }
p.price-para { margin: 26px 0 37px 0; }
.input-group select { width: 100%; }

.input-group select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(226, 226, 229);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: grey;
  text-transform: capitalize;
  outline: none;
}

.input-control a {
  width: 100%;
  margin-bottom: 9px;
  text-align: center;
}
/* banner section end */

/* offers section start */
.offers {
  padding-bottom: 68px;
  margin-bottom: 48px;
}

.section-heading {
  padding: 50px 0 0 0;
  margin: 87px 0;
  text-align: center;
}

.section-heading h3 {
  padding: 18px 0;
  position: relative;
  font-size: 40px;
}

.section-heading h3::before {
  content: "";
  width: 55px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgb(51, 212, 214);
  transform: translate(-50%, -50%);
}

.section-heading p { font-size: 15px; }

.offer-cards {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
}

.offer-list {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(9, 137, 249)), to(rgb(5, 71, 130)));
  background: -o-linear-gradient(top, rgb(9, 137, 249), rgb(5, 71, 130));
  background: linear-gradient(180deg, rgb(9, 137, 249), rgb(5, 71, 130));
  color: rgb(255, 255, 255);
}

.loan-price {
  border-bottom: 1px solid rgb(51, 212, 214, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 2;
}

.loan-price img {
  width: auto;
  margin: 43px 0;
}

.loan-price h4 {
  font-size: 14px;
  text-transform: capitalize;
}

.loan-price p {
  margin-bottom: 16px;
  color: rgb(51, 212, 214);
  font-size: 27px;
}

.loan-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px;
  gap: 12px;
}

.loan-list { font-size: 16px; }

.loan-list::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  background: rgb(51, 212, 214);
}

.loan-btn { padding: 0 48px 43px 48px; }

.loan-btn a {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
/* offers section end */

/* about section start */
.about { padding-bottom: 40px; }
.about .wrapper{ margin-bottom: 59px; }
.about-content {
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 89px;
}

.about-image {
  -ms-flex-preferred-size: 48.4%;
      flex-basis: 48.4%;
}

.about-details {
  margin-bottom: 61px;
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
}

.about-details h4 {
  padding: 38px 0;
  font-size: 42px;
  text-transform: capitalize;
}

.about-details p {
  line-height: 1.6;
  font-size: 15px;
}

.about-items {
  padding: 14px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.8;
}

.about-list {
  position: relative;
  font-weight: 600;
}

.about-list::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 36%;
  left: -20px;
  background: rgb(10, 140, 255);
}

.about-btn { padding: 33px 0 0 0; }
/* about section end */

/* work section start */
.work {
  padding: 1px 0 50px 0;
  background: rgb(245, 251, 255);
}

.work .wrapper { padding-bottom: 34px; }

.work-items {
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}

.work-list {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.work-list span {
  padding: 24px;
  border-radius: 50%;
  display: inline-block;
  background: rgb(221, 240, 255);
  color: rgb(9, 137, 249);
  font-weight: bold;
}

.work-list h4 {
  padding: 17px 0;
  font-size: 21px;
  font-weight: bold;
}

.work-list h4::first-letter,.work-list p::first-letter { text-transform: uppercase; }
.work-list p { line-height: 1.6; }
/* work section end */

/* question section start */
.question .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 77px;
}

.question-image {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.accordion-part {
  padding-top: 34px;
  margin-top: 44px;
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
}


.accordion-part h4 {
  padding: 38px 0;
  font-size: 42px;
}

.accordion-part h4::first-letter { text-transform: uppercase; }

.accordion-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion-list {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid rgb(142, 142, 148, 0.2);
  cursor: pointer;
}

.accordian-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}

.accordion-btn a {
  text-indent: -9999px;
  color: rgb(142, 142, 148);
}

.accordion-btn a::before {
  content: "\f107";
  margin-left: 2%;
  float: left;
  font-family: "FontAwesome";
  text-indent: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.active-accordion .accordion-btn a::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion-list h5 {
  font-weight: bold;
}

.accordion-list h5::first-letter {
  text-transform: uppercase;
}

.accordion-list p {
  padding: 25px 25px 19px 37px;
  display: none;
  font-size: 13px;
  line-height: 1.8;
  display: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: showtext .3s linear forwards;
          animation: showtext .3s linear forwards;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}
@-webkit-keyframes showtext {
  0% { -webkit-transform: scaleY(0); transform: scaleY(0); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); }
}
@keyframes showtext {
  0% { -webkit-transform: scaleY(0); transform: scaleY(0); }
  100% { -webkit-transform: scaleY(1); transform: scaleY(1); }
}

.active-accordion p { display: block; }
/* question section end */

/* slider section start */
.slider { padding: 47px 0; }

.slider .wrapper {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.slider-image {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  position: relative;
  flex-basis: 18%;
}

.slider-image img { border-radius: 50%; }

.slider-image::before {
  content: "\f10d";
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(51, 212, 214);
  color: rgb(255, 255, 255);
  font-family: "FontAwesome";
  font-size: 20px;
}

.slider-description {
  padding: 0 2%;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.slider-description p {
  width: 85%;
  padding-top: 40px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.8;
}

.slider-description span {
  padding: 17px 0;
  display: block;
  color: rgb(142, 142, 148);
  text-transform: capitalize;
}
/* slider section end */

/* companies section start */
.companies {
  padding: 40px 0;
  margin: 30px 0;
}

.company-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* companies section end */

/* apply div start */
.applyDiv {
  padding: 73px 0;
  margin: 50px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 30, 78, 0.4)), to(rgba(9, 30, 78, 0.4))),
    url(https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHR5cGluZ3xlbnwwfDB8MHx8&w=1000&q=80)
      no-repeat;
  background: -o-linear-gradient(rgba(9, 30, 78, 0.4), rgba(9, 30, 78, 0.4)),
    url(https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHR5cGluZ3xlbnwwfDB8MHx8&w=1000&q=80)
      no-repeat;
  background: linear-gradient(rgba(9, 30, 78, 0.4), rgba(9, 30, 78, 0.4)),
    url(https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHR5cGluZ3xlbnwwfDB8MHx8&w=1000&q=80)
      no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.apply-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

.apply-content p {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  color: rgb(255, 255, 255);
  font-size: 44px;
}

.apply-content-btn {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* apply div end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

.footer-content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

footer .logo {
  width: 100%;
  margin: 5px 0 20px 0;
}

footer .logo a {
  color: rgb(0, 0, 0);
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 90px;
}

.footer-list h6 {
  padding: 0 0 20px 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.address-items {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address-list {
  line-height: 1.6;
  font-size: 13px;
  font-weight: bold;
}

.address-list a,
.address-list p,
.subscribe-list p,
.copyright {
  color: rgb(142, 142, 148);
}

.services-items,
.useful-items,
.subscribe-items {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list:last-child {
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
}

.services-list a,
.useful-list a {
  padding: 11px 0;
  color: rgb(142, 142, 148);
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.services-list a:hover,.useful-list a:hover {
  color: rgb(51, 212, 214);
  text-decoration: underline;
}

.subscribe-list p {
  padding: 20px 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.8;
}

.subscribe-list form {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgb(142, 142, 148, 0.3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-group {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.input-control {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}

.input-control input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  outline: none;
  background: rgb(10, 140, 255);
  color: rgb(255, 255, 255);
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input-control input:hover { background: rgb(9, 93, 166); }

.copyright {
  padding: 50px 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.copyright a {
  color: rgb(10, 140, 255);
  text-transform: capitalize;
}

.copyright a:hover { text-decoration: underline; }
.copyright span {
  text-indent: -9999px;
  display: inline-block;
}

.heart-icon::before {
  content: '\f004';
  text-indent: 0;
  float: left;
  font-family: 'FontAwesome';
}

.social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.social-list a {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(142, 142, 148, 0.3);
  color: rgb(142, 142, 148, 0.3);
  border-radius: 50%;
  position: relative;
  text-indent: -9999px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.social-list a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "FontAwesome";
  font-size: 12px;
  text-indent: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.social-list a:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.facebook::before {
  content: "\f39e";
}
.google::before {
  content: "\f0d5";
}
.twitter::before {
  content: "\f099";
}
.instagram::before {
  content: "\f16d";
}

.facebook:hover{ 
  border-color: rgb(0, 140, 255);
  color: rgb(0, 140, 255);
}
.google:hover{ 
  border-color: rgb(0, 255, 72);
  color: rgb(0, 255, 72);
}
.twitter:hover{ 
  border-color: rgb(0, 200, 255);
  color: rgb(0, 200, 255);
}
.instagram:hover{ 
  border-color: rgb(255, 0, 255);
  color: rgb(255, 0, 255);
}

.removeScroll { overflow-y: hidden; }
/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 1280px starts here*/
@media only screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
    padding: 0 2%;
  }

  header .wrapper {
    width: 100%;
    padding: 21px 2%;
  }

  .slider .wrapper { padding: 35px 2%; }
  .loan-items { padding: 27px; }
  .loan-btn { padding: 0 27px 43px 27px; }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  /* header start */
  .nav-items { gap: 29px; }
  /* header end */

  /* banner section start */
  .banner-form h2 { font-size: 20px; }
  .banner-form p { font-size: 12px; }
  /* banner section end */

  /* about section start */
  .about-content { gap: 40px; }
  .about-details { -ms-flex-preferred-size: 45%; flex-basis: 45%; }
  .about-details h4,.accordion-part h4 { font-size: 34px;}
  .about-list { font-size: 12px; }
  /* about section end */

  /* question section start */
  .question .wrapper { gap: 40px; } 
  .accordion-part h4 { padding: 38px 0 20px; }  
  .accordion-list h5,.accordion-btn a::before { font-size: 13px; }
  .accordion-part {
    padding-top: 20px;
    margin-top: 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  /* question section end */

  /* slider section start */
  .slider-image { -ms-flex-preferred-size: 23%; flex-basis: 23%; }
  .slider-description p { 
    width: 100%;
    padding-top: 21px;
    font-size: 15px;
  }
  /* slider section end */
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* banner section start */
  .banner-description { -ms-flex-preferred-size: 52%; flex-basis: 52%; }
  .banner-form{ -ms-flex-preferred-size: 45%; flex-basis: 45%; }
  .banner-description p{ font-size: 32px; }
  /* banner section end */

  /* offer section start */
  .offer-cards { gap: 20px; }
  .loan-items { padding: 15px; }
  .loan-btn { padding: 0 15px 43px 15px; }
  .loan-list { font-size: 12px; }
  /* offer section end */

  /* apply div start */
  .apply-content p { font-size: 39px; }
  /* apply div end */

  /* footer start */
  footer .logo { margin: 0; }
  .footer-content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .address { text-align: center; }
  .social-items { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .footer-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-list {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  /* footer end */
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
   /* header start */
  .logo { 
    margin-left: 9%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header-contact { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
  .hamburger {
    padding: 5px;
    display: block;
    z-index: 3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; 
  }

  nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 0;
    background-color: rgb(0,0,0);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .active-hamburger + nav {
    top: 0;
    -webkit-animation: fadeIn .8s ease;
            animation: fadeIn .8s ease;
  }

  @-webkit-keyframes fadeIn {
    0% { opacity: 0; background-color: none; }
    100% { opacity: 1; background-color: rgb(0,0,0); }
  }

  @keyframes fadeIn {
    0% { opacity: 0; background-color: none; }
    100% { opacity: 1; background-color: rgb(0,0,0); }
  }
  
  .nav-items {
    width: inherit;
    height: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }

  .nav-list a { font-size: 23px; }
  /* header end */

  /* banner start */
  .banner-content { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .banner-description { 
    width: 70%;
    padding: 20px 0; 
  }
  /* banner end */

  /* offer section start */
  .offer-cards { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .offer-list { -ms-flex-preferred-size: 48%; flex-basis: 48%; }
  /* offer section end */

  /* about section start */
  .about-content,.apply-content,.slider .wrapper,.question .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  /* about section end */

  /* questions section start */
  .accordion-part { padding: 0 2%; }
  /* questions section end */

  /* work section start */
  .work-items { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .work-list { -ms-flex-preferred-size: 43%; flex-basis: 43%; }
  /* work section end */

  /* slider section start */
  .slider-image {
    width: 200px;
    margin: 0 auto;
  }
  /* slider section end */

  /* apply div start */
  .apply-content { gap: 30px; }
  .apply-content-btn { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
  /* apply div end */
}

/*media query for 640px starts here*/
@media only screen and (max-width: 640px) {
  /* offers section start */
  .offer-list,.work-list { -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  /* offers section end */

  /* work section start */
  .work-list { text-align: center; }
  /* work section end */

  /* footer start */
  footer .wrapper { padding: 0 5%; }
  .footer-list { -ms-flex-preferred-size: 45%; flex-basis: 45%; }
  .footer-list:last-child { -ms-flex-preferred-size: 71%; flex-basis: 71%; }
  /* footer end */
}

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
  /* header start */
  .logo { 
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .header-contact { display: none; }
  .section-heading h3 { font-size: 31px; }
  /* header end */

  /* banner start */
  .banner { padding: 20px 0 10px 0; }
  .banner-content { margin-bottom: 30px; }
  .banner-description { display: none; }
  /* banner end */

  /* company div start */
  .company-list { -ms-flex-preferred-size: 70%; flex-basis: 70%; }
  /* company div end */

  /* apply div start */
  .apply-content p { font-size: 30px; }
  /* apply div end */

  /* footer start */
  .footer-list:last-child { -ms-flex-preferred-size: 90%; flex-basis: 90%; }
  /* footer end */
}